.side-bar-container {
    width: 0;
    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.side-bar-expanded {
    width: 180px;
    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.textVisible {
    transform: translateX(0px);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.textHide {
    transform: translateX(-250px);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}